# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

backend/writable/
backend/tests/_support
backend/docker/data
backend/CHANGELOG.md

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/coverage

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json

frontend/tests/screenshots
frontend/tests/videos

*.local
.DS_Store



.project
.DS_Store
*.vim
*.idea
*.vscode
*.log
*.env
/nightwatch.json
/nightwatch.conf.js
node_modules
dist
npm-debug.log
lib-cov
coverage.html
selenium-debug.log
phantomjsdriver.log
tests_output
*~
\#*
\.#*
output
/test/hooks_output
/bin/geckodriver*
/coverage/
/.nyc_output/
screenshot.png
/sample
/screens
/logs
html-report/
test-results.xml
chromedriver-mobile/
*.sw[po]
